<div class="inner">
    <form action="/community/<%= communityID %>/lectures/<%= classID %>/<%= chapterID %>/study_update" 
        method="post" enctype="multipart/form-data" style="color: black;">
        <h2 class="blackcolor">교육 자료 수정
            <small>버튼을 누르면 교육 자료가 수정됩니다.</small>
        </h2>
        <div class="createContainer">
            <div class="group">
                <input type="text" name="title" placeholder="title" value="<%= chapterTitle %>" class="createText">
            </div>
            <div class="group">
                <textarea rows="5" name="description" placeholder="description" class="createText"><%= chapterDescription %></textarea>
            </div>
            <div>
                <input type="file" name="file" style="color:black;">
            </div>
            <div class="buttonContainer">
                <input type="submit" value="교육자료수정" class="ph-button ph-btn-deepgreen">
            </div>
            <input type="hidden" name="classid" value="<%= classID %>">
            <% filedata.forEach(function (item, index, array){ %>
                <input type="hidden" name="fileId<%= index + 1 %>" value="<%= array[index].fid %>">
            <% }); %>
        </div>
    </form>
</div>