
    <div style="margin: 0 5em 0 5em;">
        
        <br>
        <br>
        <h3 style="margin: 0 0 0.6em 1em; color: #333333; text-align: left;"> <%= title %> </h3>

            <%- preview %>

        <form method=post action=<%= inputlink %>>
                <!-- communityID 추가 -->
                <input type=hidden name=communityID value=<%= communityID %>>
                <% if(preview.length<1){ %>
            <table style="width:100%;">
            
            <tr>    
                <td style="color: #333333; text-align: right; width:10%; padding:0px 10px 10px 0px;"> 제목 </td>
                <td style="align-content: left; width:90%; padding-bottom:10px;"><input type=text name=title value=<%= contentTitle %>></td>
            </tr>
            <% } %>
            
            <tr>
                <td style="color: #333333; text-align: right; padding:0px 10px 0px 0px;"> 내용 </td>
                <td style="align-content: left;"><textarea name=content rows=20 cols=68 style="height: 10em;"><%= content %></textarea></td>
                
            </tr>
            
            </table>
            <input style="background-color:#819eac; color:#FFFFFF;" type=submit value=등록하기>
        </form>
    
    </div>