
<br>
<h3 style="margin: 0 0 0.6em 1em; color: #333333; text-align: left;"> <%= title %> </h3>

<br>

<table style="width:100%;">
    <!-- 게시판 테이블 상단-->
    <tr>
        <th style="width:10%; text-align:center;">번호</th>
        <th style="width:45%; align-items:left;">제목</th>
        <th style="width:15%; text-align:center;">글쓴이</th>
        <th style="width:15%; text-align:center;">날짜</th>
        <th style="width:15%; text-align:center;"><%= option %></th>
    </tr>

    <!-- 게시판 body -->

    <% 
        var counter = 0;
        var boardID = Board.length;

        while(counter<pagesize) {
            
            if(Board.length == 0){
                    
                %> <td align=center colspan=5>아직 등록된 글이 없습니다.</td> <%

            }

            var newcounter = (cpage-1)*pagesize+counter;
            if(newcounter == Board.length) {break;}

            var id = boardID-(cpage-1)*pagesize;
            var dbId = Board[newcounter].id;
            var title = Board[newcounter].title;

            var _status = '';

            if(option === '상태')
            {
                var qusid = Board[newcounter].qusid;
                var qusdate = Board[newcounter].qusdate;
    
                _status = '답변대기';
                if(Board[newcounter].status != 0)
                    _status = '답변완료';     
            }

            else
            {
                var qusid = Board[newcounter].writerId;
                var qusdate = Board[newcounter].date;
                _status = Board[newcounter].hit;
            }

            
            var boardlink;
            var boardinputlink;

            if(option === '상태'){
                boardlink = '/QnA/'+communityID+'/';
                boardinputlink = '/QnA/';
            }
            else
            {
                boardlink = '/free/'+communityID+'/';
                boardinputlink = '/free/';
            }
              
    %>

        <tr>

        <td align=center><%= id %></td>
        <td style="text-align:left;"><a href=<%= boardinputlink %>qnAContent/<%= dbId %>><%= title %></a></td>
        <td align=center><%= qusid %></td>
        <td align=center><%= qusdate %></td>
        <td align=center><%= _status %></td>

        </tr>
    <%  counter++; 
        boardID--;} %>

</table>

<!-- 페이지 출력 부분 -->

<p>

    <%
    if(cblock === ''){
        cblock = 1;  
    }

    var totalpage = (Board.length/pagesize);
    if((Board.length%pagesize)!=0) { totalpage = totalpage + 1; }

    var pblock = cblock - 1;
    var nblock = cblock + 1;

    var startpage = (cblock -1) * blocksize + 1;

    var pstartpage = startpage - 1;
    var nstartpage = startpage + blocksize;

    

    if(pblock > 0){ %>
        <a href=<%= boardlink %>?cblock=<%= pblock %>&cpage=<%= pstartpage %>> 이전 </a> 

    <% }

    for(var i = startpage; i < nstartpage; i++){
        if(i > totalpage) { break; }

        if(i == cpage){ %>
            <b><a style="color:#819eac;" href=<%= boardlink %>?cblock=<%= cblock %>&cpage=<%= i %>> [<%= i %>] </a></b>
        <% } else{ %>
            <a href=<%= boardlink %>?cblock=<%= cblock %>&cpage=<%= i %>> [<%= i %>] </a>
        <% } 

    }
    
    if(nstartpage <= totalpage){ %>
        <a style="color:#333333;" href=<%= boardlink %>?cblock=<%= nblock %>&cpage=<%= nstartpage %>> 다음 </a>
    <% }

    %>

</p>

<% if (inputlink.length > 1){ %>
<a class="ph-button ph-btn-deepgreen" href=<%= boardinputlink %>qnaInput/<%= communityID %>><%= inputlink %> </a>
<% } %>