
    <br>
 
    <% 
        var _writer;
        var _date;
        var _status;
        var _content;
        var boardlink;

        if(option === '상태'){

            boardlink = '/QnA/'+communityID;
            _writer = result[0].qusid;
            _status = result[0].status != 0 ? "답변완료" : "답변대기";
            _status = option + ": " + _status;
            _date = result[0].qusdate;
            _content = result[0].qcontent;
        }
        else
        {
            boardlink = '/free/'+communityID;
            _writer = result[0].writerId;
            _status = option + ": " + result[0].hit;
            _date = result[0].date;
            _content = result[0].content;

        }

    %>

    

    <table style="width:100%;">
        <% if(!isPreview) { %> 
        <tr>
            <th style="width:10%; align-items:left;">번호 : <%= result[0].id %></th>
            <th style="width:40%; align-items:left;">글쓴이: <%= _writer %></th>
            <th style="width:20%; align-items:left;"><%= _status %></th>
            <th style="width:30%; align-items:left;">날짜: <%= _date %></th>
        </tr>

        <% } %>

        <tr>
            <td style="text-align: left;" colspan=4><b style="color: black;"><%= result[0].title %></b></td>
        </tr>
                
        <tr>
            <td colspan=4><pre style="text-align: left;"><%= _content %></pre></td>
        </tr>

    <% if(!isPreview) {%>
    </table>
    <% } %>
    
    <% if(option === '상태'){
     if(result[0].status == 0) { %>

        <% if(userName === result[0].qusid) { %>

            <a class="ph-button ph-btn-deepgreen" href=/QnA/qnaModify/<%= result[0].id %>> 수정 </a>
            <a class="ph-button ph-btn-deepgreen" href=/QnA/qnaDelete/<%= result[0].id %>> 삭제 </a>

        <% } 

        if(answerlink.length>1){ %>
                <a class="ph-button ph-btn-deepgreen" href=/QnA/qnaAnswer/<%= result[0].id %>><%= answerlink %> </a>
        <%  }
    }   else { %>

        <table style="width:100%;">

            <tr>
                <th style="width:60%; align-items:left;">글쓴이: <%= result[0].ansid %></th>
                <th style="width:30%; align-items:left;">날짜: <%= result[0].ansdate %></th>
            </tr>
  
            <tr>
                <td colspan=3><pre style="text-align: left;"><%= result[0].answer %></pre></td>
            </tr>
    
        </table>

    <% } 
    }
    else{ 

        if(userName === result[0].writerId) { %>

            <a class="ph-button ph-btn-deepgreen" href=/free/qnaModify/<%= result[0].id %>> 수정 </a>
            <a class="ph-button ph-btn-deepgreen" href=/free/qnaDelete/<%= result[0].id %>> 삭제 </a>

        <% } 
    }
        %>

