<div class= "wrap" style="position: relative; display: flex; text-align: center; align-items: center; padding: 1.8em; background-color: rgb(224, 224, 224) !important; color: black; background-color: #FFF; width: inherit; height: 80%;">
    <div class= "chapter" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; width: 300px; min-width: 150px; height: 90%; background-color: white;">
        <div style="padding-bottom: 0.25em; border-radius:6px 6px 0 0/ 6px 6px 0 0; color: white; font-size: 1.4em; background-color: #819eac;">
            <div style="padding-top: 0.25em;">챕터</div>
        </div>
        <% for(var i in title){ %>
            <section style="padding: 0.25em 0; font-weight: 500; ">
                <a href="/community/<%=communityID%>/lectures/<%=classID%>/<%-chapterID[i]%>"><%- title[i] %></a>
            </section>
        <% } %>
    </div>
    <div class= "content" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; margin-left:2em; margin-right: auto; width: 1200px; min-width: 250px; height: 90%; background-color: white;">
        <div style=" margin-bottom: 0.5em; padding-bottom: 0.25em; border-radius:6px 6px 0 0/ 6px 6px 0 0; color: white; font-size: 1.4em; background-color: #819eac;">
            <div style="padding-top: 0.25em;">강의</div>
        </div>
        <section style="text-align: left; margin: 0 1em;">
            <% if(description === null) { %>
                <p style="font-size:1.2em; font-weight: 500;">교육자료 생성 버튼을 눌러 강좌 내용을 생성해주세요.</p>
            <% } else { %>
                <%= description %>
                <br><br>
                <% if(filedata !== null) { %>
                    <h4 style="color:black;">파일 다운로드</h4>
                    <ul>
                        <% filedata.forEach(function (item, index, array){ %>
                            <li><a href="/community/<%= communityID %>/lectures/<%= classID %>/<%= selectCid %>/Files/<%= array[index].fid %>"><%= array[index].filename %></a></li>
                        <% }); %>
                    </ul>
                <% } %>
            <% } %>
        </section>
    </div><div style="clear:both;"></div>
</div>
