<div class="inner">
    <!-- 이 부분에 chapterNum 값을 넘겨 받아서 넘겨 받은 수 만큼 텍스트 창 생성할 거에요. -->
    <form action="/community/<%= communityID %>/lectures/<%= classID %>/chapter_create" method="post" style="color:black">
        <h2 class="blackcolor">챕터 이름 입력
            <small>챕터 생성 버튼을 누르면 챕터가 생성됩니다.</small>
        </h2>
        <div class="createContainer">
            <% var i = 0; %>
            <% while(i <  chapNum) { %>
                <div class="group">
                    <input type="text" name="chapter_<%= i+1 %>" placeholder="챕터<%= i+1 %> 이름 입력" class="createText">
                </div>
                <% i++; %>
            <% } %>
            <input type="hidden" name="chapNum" value="<%= chapNum %>">
            <div class="buttonContainer">
                <input type="submit" value="챕터 생성" class="ph-button ph-btn-deepgreen">
            </div>
        </div>
    </form>
</div>