<section id="banner" class="major" style="height:auto; align-items: center; justify-content: center; padding: 10% 30%">
    <div class="inner">

        <h3 style="margin: 0 0 0.6em 0;"> 마이페이지 </h3>

        <hr>
        <h4 style="margin: 0 0 0.6em 0;"> 내 정보 </h4>

        <table>
            <tr>
                <td>아이디: </td>
                <td> <%= userId %></td>
            </tr>
            
            <tr>
                <td>닉네임: </td>
                <td> <%= displayName %></td>
            </tr>
            <tr>
                <td>이메일: </td>
                <td> <%= email %></td>
            </tr>
            <tr>
                <td>상태: </td>
                <td> <%= approved %></td>
            </tr>
        </table>

        <p><a class="button" href="/mypage/modify">회원정보 변경</a></p>

        <hr>
        <h4 style="margin: 0 0 0.6em 0;"> 가입 커뮤니티 </h4>

        <table>
            <% for(var i = 0; i < communities.length; i++){ %>
                <tr><td><%= communities[i].communityName %></td></tr>
            <% } %>
        </table>
    </div>
</section>