<div class= "wrap" style="position: relative; display: flex; text-align: center; align-items: center; padding: 1.8em; background-color: rgb(224, 224, 224) !important; color: black; background-color: #FFF; width: inherit; height: 80%;">
    <div class= "chapter" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; width: 300px; min-width: 150px; height: 90%; background-color: white;">
        <div style="padding-bottom: 0.5em; border-radius:6px 6px 0 0/ 6px 6px 0 0; color: white; font-size: 1.4em; background-color: #819eac;">
            <div>챕터</div>
        </div>
        <% for(var i in title){ %>
            <section style="padding: 0.25em 0; font-weight: 500; ">
                <a href="/community/<%=communityID%>/lectures/<%=classID%>/<%-chapterID[i]%>"><%- title[i] %></a>
            </section>
        <% } %>
    </div>
    <div class= "content" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; margin-left:2em; margin-right: auto; width: 1200px; min-width: 250px; height: 90%; background-color: white;">
        <div style=" margin-bottom: 0.5em; padding-bottom: 0.5em; border-radius:6px 6px 0 0/ 6px 6px 0 0; color: white; font-size: 1.4em; background-color: #819eac;">
        과제 제출
        </div>
        <section>
            과제
            <form id="frm" style="margin:1em 2em;" method="post" action="/community/<%= inputlink %>" enctype="multipart/form-data">
                <input type=hidden name=chapterTitle value=<%= chapterTitle %>>
                <textarea name=content rows=50 cols=10 style="height: 20em;">과제를 입력하세요</textarea>
                <br><br>
                <input type="file" name="file" style="color:black;">
                <intput type="hidden" name="classID" value="<%= classID %>">
            </form>

        </section>
    </div><div style="clear:both;"></div>
</div>
